@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #MyNameIs {
        border: 1px solid red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #MyNameIs {
        border: 1px solid blue;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #MyNameIs {
        border: 1px solid pink;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #MyNameIs {
        border: 1px solid green;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main {
        background-attachment: fixed;
        background: rgb(0, 0, 0);
        background: linear-gradient(176deg, rgba(0, 0, 0, 1) 0%, rgba(28, 0, 56, 1) 100%);
    }

    #MyNameIs {
        border: 1px solid orange;
        font-size: 6em !important;

    }

    #devalison {
        margin-top: 30px;
        font-size: 7em !important;
    }

    #student {
        margin-top: -5px;
    }

    #imgProfile {
        width: 750px !important;
    }

    .btn {
        width: 210px;
        height: 65px;
    }

    #chaveInferior {
        margin-top: -20px;
        font-size: 6em !important;
    }

    #skills {
        font-size: 4em !important;
    }

    .icons {
        transition: transform .5s;
    }

    .icons:hover {
        transform: scale(1.4) !important;
    }

    #csharp {
        width: 50px;
        position: absolute;
        top: 80%;
        margin-left: 40px;
    }

    #javascript {
        width: 70px;
        position: absolute;
        top: 79%;
        margin-left: 5.6%;
    }

    #html5 {
        width: 55px;
        position: absolute;
        top: 80%;
        margin-left: 10% !important;
    }

    #css3 {
        width: 75px;
        position: absolute;
        top: 78.4% !important;
        margin-left: 14% !important;
    }

    #ubuntu {
        width: 68px !important;
        position: absolute;
        top: 79.9% !important;
        margin-left: 18.7% !important;
    }

    #tux {
        width: 65px;
        position: absolute;
        top: 79.9%;
        margin-left: 23.5% !important;
    }

    .title-sessions {
        font-size: 5em !important;
    }

    #myprojects {
        background-size: cover !important;
    }

    .box-projects {
        width: 500px !important;
        /* height: 280px !important; */
        margin-left: 10% !important;
        float: left;
        margin-top: 3%;
        transition: transform .5s;
    }

    .box-projects h4 {
        font-family: 'Georama', sans-serif;
        font-weight: 600;
        margin-top: 3%!important;
        font-size: 2.7em;
    }

    .box-projects:hover {
        background-color: #934fb8;
        transform: scale(1.3);
    }

    .box-projects p {
        font-family: 'Georama', sans-serif;
        font-weight: 400;
        width: 250px;
        float: right;
        margin-top: 2%!important;
        margin-bottom: 6%!important;
        font-size: 1.2em;
        margin-right: 8% !important;
    }

    .box-projects #quizConfig {
        margin-top: 3%;
    }

    .icons-box-projects {
        width: 100px !important;
        margin-left: 5%;
    }

    .conteudoAboutme {
        font-size: 1.3em;
    }
    #ContateMe{
        padding-bottom: 70px;
        padding-top: 0;
    } 

    .robotsImage {
        width: 500px!important;
        margin-top: -7%;
        margin-left: 3%!important;
    }
    #aboutme {
        background: url(images/AboutMe\(\);.svg) repeat-x!important;
        background-size: cover;
    }
    #p2conteudoAboutMe{
        position: relative;
        bottom: 30px;
    }
    #acesseMeuIn{
        display: block;
        margin-right: 1310px!important;
        position: relative;
        bottom: 220px;
        width: 200px!important;
        height: 70px!important;
        border: 1px solid white;
    }
    #acesseMeuIn span{
        position: relative;
        bottom: 10px;
    }
    #acesseMeuIn:hover{
        background-color: white;
        color: blue;
        border: 2px solid #8D3AAF;
    }
    }
    #footer{
        background: url(images/footer.svg) no-repeat;
        background-size: cover;
    }
    #ulFooter{
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        padding-bottom: 70px;
    }
    #ulFooter li {
        display: inline-block;
        margin: 0 150px;
    }
    #blackFooter{
        background-color: black;
        color: white;
        text-align: center;
    }
    .iconContact{
        width: 70px;
        height: 60px;
    }
    .formatUserSocialFooter{
        margin-left: 10px;
    }
    .formatLinkFooter:hover{
        color:rgb(127, 212, 219);
    }

* {
    margin: 0;
    padding: 0;
}

main {
    background: rgb(0, 0, 0);
    background: linear-gradient(176deg, rgba(0, 0, 0, 1) 0%, rgba(28, 0, 56, 1) 100%);
    overflow: hidden;
}

.btn {
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    border: 2px solid #8D3AAF;
    border-radius: 15px;
    padding: 13px;
    color: white;
    letter-spacing: 2px;
    font-weight: 450;
    font-size: 20px;
}

#botao:hover {
    border: 2px solid #1d0029;
    background-color: #8D3AAF;
    color: white;
}

#writing {
    float: left;
}

#imgProfile {
    width: 500px;
    float: right;
}

#MyNameIs {
    font-family: 'Abhaya Libre', serif;
    position: absolute;
    top: 30%;
    margin-left: 3%;
    color: white;
    font-size: 3em;
}

#devalison {
    font-family: 'Abhaya Libre', serif;
    position: absolute;
    top: 36%;
    margin-left: 5%;
    color: #934FB8;
    font-size: 6em;
}

.chaves {
    color: #FF11CB;
}

#student {
    font-family: 'Abhaya Libre', serif;
    color: white;
    position: absolute;
    top: 51%;
    margin-left: 9%;
    font-size: 1.5em;
}

#chaveInferior {
    font-family: 'Abhaya Libre', serif;
    position: absolute;
    top: 56%;
    margin-left: 3%;
    font-size: 3em;
}

#skills {
    font-family: 'Abhaya Libre', serif;
    color: white;
    position: absolute;
    top: 68%;
    margin-left: 3%;
}

.icons {
    margin: 5px;
    transition: transform .5s;
}

.icons:hover {
    transform: scale(1.1);
}

#csharp {
    width: 50px;
    position: absolute;
    top: 80%;
}

#javascript {
    width: 70px;
    position: absolute;
    top: 79%;
    margin-left: 5.6%;
}

#html5 {
    width: 55px;
    position: absolute;
    top: 80%;
    margin-left: 11.9%;
}

#css3 {
    width: 75px;
    position: absolute;
    top: 77.6%;
    margin-left: 16.6%;
}

#ubuntu {
    width: 65px;
    position: absolute;
    top: 80%;
    margin-left: 22.7%;
}

#tux {
    width: 65px;
    position: absolute;
    top: 79.9%;
    margin-left: 29%;
}

li {
    list-style-type: none;
}

.title-sessions {
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
}

#myprojects {
    background: url(images/MyProjects.svg) no-repeat;

}

.box-projects {
    color: white;
    width: 350px;
    /* height: 200px; */
    border: 2px solid white;
    border-radius: 15px;
    margin-left: 5%;
    float: left;
    margin-top: 3%;
    transition: transform .5s;
}

.box-projects:hover {
    background-color: #934fb8;
    transform: scale(1.1);
}

.box-projects h4 {
    font-family: 'Georama', sans-serif;
    font-weight: 600;
    margin-top: 6%;
}

.box-projects p {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    width: 250px;
    float: right;
    margin-top: 6%;
    margin-right: 2%;
}

article h4 {
    text-align: center;
}

.limpar {
    clear: both;
    padding: 5%;
}

.icons-box-projects {
    width: 60px;
    margin-left: 5%;
}

#aboutme {
    background: url(images/AboutMe\(\);.svg);
}

.conteudoAboutme {
    font-family: 'Georama', sans-serif;
    color: white;
    width: 500px;
    margin-left: 5%;
    padding-bottom: 10px;
    display: inline-block;
    height: 300px;
}

.robotsImage {
    float: right;
    display: inline;
    width: 400px;
    margin-right: 9%;
}
a{
    text-decoration: none;
    color: white;
}